<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nội Thất Nhật Yến</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/ny-common.css"/>
    <script src="/webjars/jquery/2.1.4/jquery.js"></script>
    <script src="/webjars/bootstrap/3.3.6/js/bootstrap.js"></script>
    <script src="/js/ny.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var NUMBER_PICTURES = /*[[${numberPictures}]]*/ '';
        initializeAllPage();
        /*]]>*/
    </script>
</head>
<body>
<div class="ny-header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="ny-brand-box navbar-left">
                <span class="ny-com-type">CÔNG TY TNHH</span>
                <span class="ny-com-name">NHẬT YẾN</span>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav ny-header-menu">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="/all">Xem tất cả hình ảnh</a></li>
                    <li><a href="/inProgress">Công trình đang thi công</a></li>
                    <li><a href="/inComplete">Công trình đang hoàn thành</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="ny-body container-fluid">
    <div id="ny-all-thumbnail" class="row ny-all">
    </div>

    <!--Address, Contact-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 ny-icon-column">
                <div class="ny-icon-box"><span class="glyphicon glyphicon-home ny-icon"></span></div>
                <div class="ny-address-contact">
                    <span class="ny-caption">Địa chỉ</span>
                    <span class="ny-content">Lô 10 – B1-17 Khu Sinh Thái Hòa Xuân, Cẩm Lệ, Tp Đà Nẵng</span>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 ny-icon-column">
                <div class="ny-icon-box"><span class="glyphicon glyphicon-earphone ny-icon"></span></div>
                <div class="ny-address-contact">
                    <span class="ny-caption">Liên hệ</span>
                    <span class="ny-content">Di Động: 091.834.5086 – 0120.607.2555</span>
                    <span class="ny-content">Email: noithatnhatyen@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>